// Colors
$brand-blue: #1874d0;
$brand-blue-light: #e0f3fb;
$brand-white: #ffffff;
$brand-grey: #6c757d;
$brand-grey-light: #dee2e6;
$brand-grey-dark: #495057;

$brand-black: #212529;
$brand-blue-dark: #104e8b;
$brand-grey-lighter: #fafbfc;

// Spacing
$body-mobile-padding-sides: 1.5rem;
$card-x-padding: 0.875rem;
$card-y-padding: 0.5rem;
$card-content-y-padding: 1rem;

// Fonts
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
